body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #12141D;
}
/* good card color background: #252525;   good black color: #37352F; */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background: #12141D;
}

.navbar a{
  color: #FFFFFF90 !important;
}

input, textarea{
  caret-color: blue;
}


h1,h2,h3,h4,h5{
  color: #FFFFFF90;
}

label{
  color: #FFFFFF;
}


p{
  font-size: 16px;
  color: #FFFFFF95;
}

div{
  color: #353535 !important;
}

.green{
  color: #00ff00;
}

.red{
  color: #ff0000;
}

.divider{
  background: #595959;
  height: 1px;
  margin-bottom: 6rem !important;
}



.scroll-link:hover{
   cursor: pointer;
}


.full-description p{
  font-size: 19px;
  line-height: 32px;
}


.up-arrow:hover{
  cursor: pointer;
}


.no-underline{
  text-decoration: none !important;
  color: #444444;
}
.no-underline:hover{
  color: #444444;

}
.no-underline:hover .viewer-name{
  color: #3F729B !important;
  transition: 0.3s;
}
.card-border:hover{
  border-color: #3F729B;
}
.viewer-name{
  color: #FFFFFF !important;
}

.cap-type{
  text-transform: capitalize;
}


.main-jumbo-bg{
  background-image: linear-gradient(
  90deg
  , #5132c0, #8f2df0);
  border-radius: 6px;
}


.card-jumbo-bg{
  background: #212121;
  border-radius: 6px;

}


.personality-description-cards{
  background-color: #37352F;
  border-radius: 6px;
}
.personality-description-cards p, h1, div{
  color: #FFFFFF ;
}


.shadow-lgg{
  -webkit-box-shadow: 0px 0px 3px 5px #292929; 
  -moz-box-shadow: 0px 0px 3px 5px #292929; 
  box-shadow: 0px 0px 3px 5px #292929;  
}


.profile-description-cards{
  background-color: #252525;
  border-radius: 6px;
}
.profile-description-cards p, h1 {
  color: #FFFFFF;
}


.home-title{
  font-size: 4rem;
}


#test{
  background: #FFFFFF;
}