body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea{
  caret-color: blue;
}

p{
  font-size: 16px;
}


.personality-description-cards{
  background-color: #333;
  border-radius: 6px;
}


.scroll-link:hover{
   cursor: pointer;
}


.full-description p{
  font-size: 19px;
  line-height: 32px;
}


.up-arrow:hover{
  cursor: pointer;
}