body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea{
  caret-color: blue;
}


h1,h2,h3,h4,h5{
  color: #37352f;
}


p{
  font-size: 16px;
}

.divider{
  background: #595959;
  height: 1px;
  margin-bottom: 6rem !important;
}


.personality-description-cards{
  background-color: #333;
  border-radius: 6px;
}


.scroll-link:hover{
   cursor: pointer;
}


.full-description p{
  font-size: 19px;
  line-height: 32px;
}


.up-arrow:hover{
  cursor: pointer;
}


.no-underline{
  text-decoration: none !important;
  color: #444444;
}
.no-underline:hover{
  color: #444444;

}
.no-underline:hover .viewer-name{
  color: #3F729B;
  transition: 0.3s;
}
.card-border:hover{
  border-color: #3F729B;
}

.cap-type{
  text-transform: capitalize;
}